@media (max-width: 789px) {
    nav ul {
    display: none; 
  }
  body{
    display: flex;
    flex-direction: column;
  }
  .menu {
    display: block; 
  }
  .titulo{
    font-size: 2rem;
  }
  .parrafo{
    font-size: 1rem;
  }
  .portada{
    gap: 1vh;
  }
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .foto2{
    height: 30vh;
    width: 40vw;
    margin: 0;
    padding: 0;
}
.text{
    text-align: center;
    align-items: center;
}
.parrafoSoy{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    height: 40vh;
    width: 60vw;
    margin:0;
    padding: 0%;
}
.estudios{
    flex-direction: column;
}
.estudio{
    background-color: #e5e5f7;
    text-align: center;
    margin-top: 0;
  width: 80%;
  height: 30%;
  border: 3px solid rgb(68, 0, 255);
clip-path: polygon(
  25% 0%,   
  75% 0%,   
  100% 50%,  
  75% 100%,  
  25% 100%,  
  0% 50%     
);

}
.subtituloEstudios{
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(0, 4, 255);

}

.nombre_Estudio{
    margin-bottom: 1px;
    font-size: 1rem;
    
}

}