*{
    margin: 0;
    box-sizing: border-box;

}
html, body {
  width: 100%;
  overflow-x: hidden; 
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body{
    font-family: "Poppins", sans-serif;
}


header{
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "nav"
    "portada";
    color: white;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #000000bf 0%, #5900ff8c 100%), url('../img/miguel.jpeg');
    background-size: cover;
background-position: center;

    clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
    z-index: -1;
}

.nombre{
    margin-left: 2vw;
    font-weight: 300;
}

nav{
    grid-area: nav;
    display:flex;
    align-items:center;
      z-index: 1; 
    ul{
        margin-left: auto;
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 2em;
        li{
            list-style: none;
            a{
                color: white;
                text-decoration: none;
            }

        }
    }

}

.menu{
  margin-left: auto;
  cursor: pointer;
  display: none;         
  background: transparent;
  border: 0;
}

.nav_img{
    display: block;
    width: 30px;
}

.portada{
    grid-area: portada;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 5vh;
}

.titulo{
    color: blue;
    font-size: 3rem;
    margin-top: 10vh;
    text-shadow: 2px 2px 2px white;
}

.parrafo{
    font-size: 20px;
    color: white;
    width: 80%;
    margin-bottom: 40px;
}

.cta{
    display: inline-block;
    background-color: blue;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.quien_soy{
    text-align: center;
    background-image: linear-gradient(180deg, #ffffffbf 0%, #5e61ffdb 50%);
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.text{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.subtitulo{
    font-size: 2rem;
    padding-top: 5%;
    margin-bottom: 25px;
}
.foto{
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vh;
}

.parrafoSoy{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    width: 30vw;
    margin-top: 5vh;
    margin-right: 10vw;
}

.foto2{
    height: 100%;
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon{
    width:40px;
}

/*Price*/

.educacion{
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(180deg,#5e61ffdb 50%, #ffffffbf 100%);
}

.estudios{
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.estudio{
    background-color: #e5e5f7;
    text-align: center;
    margin-top: 10vh;
     padding: 40px;
  width: 30%;
  height: 40%;
  border: 3px solid rgb(68, 0, 255);
  clip-path: polygon(
    0% 0%,   /* esquina arriba izquierda */
    80% 0%,  /* borde arriba */
    100% 50%,/* punta flecha */
    80% 100%,/* borde abajo */
    0% 100%  /* esquina abajo izquierda */
  );
    
}

.subtituloEstudios{
    
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgb(0, 4, 255);

}

.nombre_Estudio{
    margin-bottom: 15px;
    font-size: 20px;
    
}

.logoEst{
    width: 50px;
    height: 50px;
}


/*knowledge*/

.habilidades{
    height: 100vh;
    background-image: linear-gradient(180deg, #ffffffbf 0%, #5e61ffdb 100%);
    display: flex;
    width: 100%;


}

.habilidadesTecnicas{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}


.habilidadesBlandas{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.habilidad{
    background-color: rgb(251, 251, 251);
    height: 10vh;
    width: 60%;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

/*Footer*/

footer{
        background-image: linear-gradient(180deg, #ffffff 0%, #1c04b3db 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-areas: 
    "titulo"
    "redes"
    "autor";
}

.footer_titulo{
    grid-area: titulo;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.footer_redes{
    grid-area: redes;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "whatsapp facebook correo";
}

.whatsapp {
    grid-area: whatsapp;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px; 
}
.red{
    color: white;
    font-size: 18px;
}
.logoRedes {
    width: 40px; 
    height: 40px;
}

.btn-wapp {
    background-color: #25D366;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.btn-wapp:hover {
    background-color: #1EBE5A; 
    transform: scale(1.05); 
}

.facebook{
    grid-area: facebook;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px; 
}

.btn-face {
    background-color: #151cfa;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-face:hover {
    background-color: #140e8a; 
    transform: scale(1.05); 
}

.correo{
    grid-area: correo;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px; 
}

.btn-gmail {
    background-color: #fd3131;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-gmail:hover {
    transform: scale(1.05); 
}
.footer_autor{
    grid-area: autor;
    text-align: center;
    color: white;
    background-color: #281d75a4;
}
